/* Colors */

:root {
  /* Primary */
  --red: hsl(4, 100%, 67%);
  /* Neutral */
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%,58%);
  --white: hsl(0, 0%, 100%);
  --black: #000000;
  --lin-grad-start: #fe5379;
  --lin-grad-end: #ff693d;
}

/* Fonts */

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
