
/* General Styles */
/* From top to bottom of document, starting with mobile design */

body {
  font-size: 16px;
  font-family: 'Roboto Regular', sans-serif, monospace;
  background-color: var(--grey);
}

.main-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.newsletter-wrapper {
  max-width: 375px;
  margin: auto;
  background-color: var(--white);
}

.newsletter-image img {
  max-width: 375px;
}

.mobile-header-image {
  display: inline;
}

.desktop-header-image {
  display: none;
}

.signup-main-wrapper {
  padding: 30px 25px 35px 25px;
}

.info-wrapper h2 {
  font-family: 'Roboto Bold';
  font-size: 40px;
  padding-bottom: 30px;
}

.info-wrapper-graph  {
  font-family: 'Roboto Regular';
  font-size: 16px;
  padding-bottom: 25px;
  line-height: 1.5;
}

.checkmark-and-statement {
  display: flex;
  align-items: normal;
  padding-bottom: 10px;
  line-height: 1.5;
}

.checkmark-and-statement img {
  margin-top: -20px;
  margin-right: 15px;
}

.end-checkmark img {
  margin-top: -3px !important;
  margin-bottom: 35px;
}

.desktop-line-break {
  display: inline;
}

.label-and-error-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-label {
  font-family: 'Roboto Bold';
  font-size: 12px;
  padding-bottom: 10px;
}

.input-error-statement {
  color: var(--red);
  font-family: 'Roboto Bold';
  font-size: 12px;
  padding-bottom: 10px;
  margin-right: 6px;
}

input {
  padding: 18px;
  width: 282px;
  max-width: 282px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  color: var(--black);
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  width: 100%;
  font-family: 'Roboto Bold';
  font-size: 16px;
  background-color: var(--blue-800);
  color: var(--white);
  padding: 20px;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--lin-grad-start) 30%, var(--lin-grad-end) 50%);
  box-shadow: 5px 8px 20px 1px var(--lin-grad-end);
}

.error-show {
  display: flex !important;
}

.error-styles {
  border: 2px solid var(--red-error-border) !important;
  color: var(--red) !important;
  background-color: var(--light-red) !important;
}

.error-styles::placeholder {
  color: var(--red-error-border) !important
}

.focused {
  background-color: var(--white) !important;
  color: var(--grey) !important;
}

input[type="text"]:focus {
  background-color: var(--white) !important;
  color: var(--grey) !important;
}

input[type="text"]:focus::placeholder {
  color: var(--grey) !important;
}

@media (min-width: 1000px) {

  .newsletter-wrapper {
    display: flex !important;
    flex-direction: row-reverse;
    max-width: 850px;
    border-radius: 30px;
  }

  .mobile-header-image {
    display: none !important;
  }

  .desktop-header-image {
    display: inline !important;
    width: 350px;
    margin: auto !important;
    padding: 20px 20px 16px 20px;
  }

  .signup-main-wrapper {
    padding: 30px 25px 35px 55px;
  }

  .info-wrapper h2 {
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .desktop-line-break {
    display: none !important;
  }

  .checkmark-and-statement img {
    margin-top: -3px;
  }

  .end-checkmark img {
    margin-bottom: 25px;
  }

  input {
    width: 365px !important;
    max-width: 340px !important;
  }

}